/* .flex-container > div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */

.some-page-wrapper {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 12%;
  margin-top: 12%;
  margin-left: 6%;
  gap: 10%;
}

.column {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  flex: 1;
}

.column-heading{
 margin-top: 8%;
}

#hacker {
 margin-top: -40px;
}

.security {
 display: grid;
 grid-template-columns: auto auto;
 margin: 3%;
}

#out-of-the-box-only {
 gap: 10%;
}