.field-length {
 width: 450px;
 border-radius: 5px;
 height: 2.4em;
}

.textarea-field {
 margin-left: 5%;
}

.contact-us {
 color: rgb(42, 47, 105);
 text-align: center;
 margin: 4%;
 padding: 5%;
}

/* .contact-container {
  position: relative;
  top: 85%;
  left: 50%;
  height: 100%;
  padding-right: 10%;
  padding-left: 10%;
  transform: translate(-50%, -50%);
  background-color: rgb(200, 215, 250);
  border-radius: 5%;
  } */
  
  div .contact-container{
    text-align: center;
    margin: 200px;
    background-color:rgb(166, 166, 250);
    border-radius: 5px;
  }

.submit {
 color: rgb(29, 25, 25);
 background-color: grey;
 width: 400px;
 margin-left: 3em;
}

.back-to-home {
 margin: 5%;
 margin-right: 1em;
}

h6{
 color: rgb(70, 68, 68);
 margin-right: 0.8em
}

.error {
 color: red;
 margin-left:4em
}

/* .name-phone-email {
 color:brown;
} */
       