.main-footer {
 color: rgb(218, 216, 216);
 background-color: #343a40;
 padding-top: 3em;
 bottom: 0;
 position: relative;
 width: 100%;
}

.container {
 height: 400px;
}

.row-1 {
position: relative;
margin-top: 80px;
display: flex;
flex-direction: row;
gap: 5%;
}

.footer-title {
 color: rgb(231, 210, 21)
}